# Import Module

In [562]:
from numpy.random import Generator as gen
from numpy.random import PCG64 as pcg
from numpy.random import shuffle
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import matplotlib.pyplot as plt
import ydata_profiling as ypf
import json, requests, sys
import seaborn as sns
import pandas as pd
import numpy as np
import math
import time
import os
import re

In [563]:
np.set_printoptions(precision = 2, linewidth = 100, suppress = True)

In [564]:
pd.set_option('display.max_rows', 7, 'display.max_columns', None, 'display.float_format', '{:.2f}'.format)

# Prepare Dataset

### Import dataset

In [565]:
df_nfx = pd.read_csv('netflix_titles(pre).csv', encoding = 'unicode_escape')

df_nfx

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6229,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6230,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Drop duplicated rows

In [566]:
df_nfx = df_nfx.drop_duplicates(ignore_index = True)

df_nfx

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6229,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6230,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Check for NAN values

In [567]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [568]:
df_nfx.isnull().sum()

show_id            0
type               0
title              0
director        1968
cast             573
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
Unnamed: 12     6228
Unnamed: 13     6228
Unnamed: 14     6228
Unnamed: 15     6228
Unnamed: 16     6228
Unnamed: 17     6228
Unnamed: 18     6228
Unnamed: 19     6228
Unnamed: 20     6228
Unnamed: 21     6229
Unnamed: 22     6229
Unnamed: 23     6229
Unnamed: 24     6229
Unnamed: 25     6229
Unnamed: 26     6230
dtype: int64

In [569]:
pd.set_option("display.max_rows", 7, "display.max_columns", None)

## Drop rows of all NAN

In [570]:
df_nfx = df_nfx.dropna(how = 'all')

df_nfx

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6229,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6230,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Drop columns of NAN

In [571]:
df_nfx = df_nfx.drop(df_nfx.iloc[:, 12:], axis = 'columns')

df_nfx

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6229,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6230,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [572]:
df_nfx['description'][0]

'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.'

## Preview dataset

In [573]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [574]:
df_nfx.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6231 entries, 0 to 6230
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6231 non-null   int64
 1   type          6231 non-null   object
 2   title         6231 non-null   object
 3   director      4263 non-null   object
 4   cast          5658 non-null   object
 5   country       5755 non-null   object
 6   date_added    6220 non-null   object
 7   release_year  6231 non-null   int64
 8   rating        6221 non-null   object
 9   duration      6231 non-null   object
 10  listed_in     6231 non-null   object
 11  description   6231 non-null   object
dtypes: int64(2), object(10)
memory usage: 5.6 MB

In [575]:
df_nfx.memory_usage(deep = True)

Index               132
show_id           49848
type             390258
title            472090
director         377605
cast            1022786
country          414716
date_added       412630
release_year      49848
rating           382615
duration         399111
listed_in        563681
description     1310168
dtype: int64

In [576]:
df_nfx.describe(include = 'all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,6231.00,6231,6231,4263,5658,5755,6220,6231.00,6221,6231,6231,6231
unique,NaN,2,6169,3299,5463,553,1527,NaN,14,201,461,6220
top,NaN,Movie,The Silence,"RaÃºl Campos, Jan Suter",David Attenborough,United States,1-Jan-20,NaN,TV-MA,1 Season,Documentaries,A surly septuagenarian gets another chance at ...
freq,NaN,4263,3,18,18,2032,122,NaN,2028,1318,299,3
mean,76703465.44,NaN,NaN,NaN,NaN,NaN,NaN,2013.36,NaN,NaN,NaN,NaN
std,10945066.86,NaN,NaN,NaN,NaN,NaN,NaN,8.81,NaN,NaN,NaN,NaN
min,247747.00,NaN,NaN,NaN,NaN,NaN,NaN,1925.00,NaN,NaN,NaN,NaN
25%,80035914.50,NaN,NaN,NaN,NaN,NaN,NaN,2013.00,NaN,NaN,NaN,NaN
50%,80163368.00,NaN,NaN,NaN,NaN,NaN,NaN,2016.00,NaN,NaN,NaN,NaN
75%,80244877.50,NaN,NaN,NaN,NaN,NaN,NaN,2018.00,NaN,NaN,NaN,NaN
max,81235729.00,NaN,NaN,NaN,NaN,NaN,NaN,2020.00,NaN,NaN,NaN,NaN

In [577]:
pd.set_option("display.max_rows", 7, "display.max_columns", None)

# Dataset Cleaning

In [578]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [579]:
df_nfx.isnull().sum()

show_id            0
type               0
title              0
director        1968
cast             573
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [580]:
pd.set_option("display.max_rows", 7, "display.max_columns", None)

In [581]:
df_nfx = df_nfx.replace(to_replace = np.nan, value = '')

df_nfx

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,,,,,2016,,60 min,Movies,Nursery rhymes and original music for children...
6229,70281022,TV Show,A Young Doctor's Notebook and Other Stories,,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6230,70153404,TV Show,Friends,,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [582]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [583]:
df_nfx.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [584]:
pd.set_option("display.max_rows", 7, "display.max_columns", None)

## Col - show_id

In [585]:
pd.unique(df_nfx['show_id'])

array([81145628, 80117401, 70234439, ..., 80116008, 70281022, 70153404], dtype=int64)

### convert datatype to num

In [586]:
df_nfx['show_id'] = pd.to_numeric(arg = df_nfx['show_id'], downcast = 'integer')

df_nfx['show_id']

0       81145628
1       80117401
2       70234439
          ...
6228    80116008
6229    70281022
6230    70153404
Name: show_id, Length: 6231, dtype: int32

## Col - release_year

### Convert datatype to num

In [587]:
df_nfx['release_year'] = pd.to_numeric(arg = df_nfx['release_year'], downcast = 'integer')

df_nfx['release_year']

0       2019
1       2016
2       2013
        ...
6228    2016
6229    2013
6230    2003
Name: release_year, Length: 6231, dtype: int16

## Col - country

### seperate each country

In [588]:
list_country = [j for i in df_nfx['country'] for j in i.split(', ')]

list_country

['United States',
 'India',
 'South Korea',
 'China',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'Spain',
 'Bulgaria',
 'United States',
 'Spain',
 'Canada',
 'Chile',
 'United States',
 'United States',
 'United Kingdom',
 'Denmark',
 'Sweden',
 '',
 'Netherlands',
 'Belgium',
 'United Kingdom',
 'United States',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'France',
 'Belgium',
 'United States',
 'France',
 'Belgium',
 'United States',
 'Uruguay',
 'United States',
 'United States',
 'United States',
 '',
 'United States,',
 '',
 'Thailand',
 'China',
 'Canada',
 'United States',
 'United States',
 'Belgium',
 'United Kingdom',
 'United States',
 'Belgium',
 'France',
 '',
 'India',
 '',
 'India',
 '',
 'France',
 'United States',
 'India',
 'United Kingdom',
 'United Kingdom',
 '',
 'United States',
 'Canada',
 'Thailand',
 'Thailand',
 'Thailand',
 'Thailand',
 'Thailand',
 'Thailand',
 'United States',
 'United States',
 'United States',
 'Pakistan',
 'Canada',
 'United States',
 'India',
 'United States',
 'United Kingdom',
 'France',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'South Korea',
 'United Kingdom',
 'Denmark',
 'United States',
 '',
 'United Kingdom',
 'United States',
 'Turkey',
 'United States',
 'Brazil',
 'United States',
 'United States',
 '',
 'United States',
 '',
 'United Kingdom',
 '',
 'United States',
 '',
 'Denmark',
 'France',
 'Italy',
 'Belgium',
 'Netherlands',
 '',
 'Indonesia',
 'China',
 'United States',
 'United States',
 'United States',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Spain',
 'Ireland',
 'United Kingdom',
 'India',
 'Turkey',
 '',
 'United States',
 '',
 'United States',
 'United States',
 'Hong Kong',
 'France',
 'Morocco',
 'United States',
 'India',
 'Hong Kong',
 'China',
 'Mexico',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Mexico',
 'Vietnam',
 'France',
 'Canada',
 'India',
 'India',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'China',
 'Canada',
 'Spain',
 'Argentina',
 'India',
 '',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Nigeria',
 'Nigeria',
 'France',
 'Nigeria',
 'South Korea',
 '',
 'Japan',
 'United Kingdom',
 'Canada',
 'United States',
 'United States',
 'United States',
 'Brazil',
 'United States',
 'United States',
 '',
 '',
 '',
 'United Kingdom',
 'France',
 'Germany',
 'Spain',
 'United States',
 'United States',
 'Spain',
 'Turkey',
 'Canada',
 'United States',
 'Hong Kong',
 'Japan',
 'Hong Kong',
 'United States',
 'Greece',
 'United Kingdom',
 'United States',
 'Thailand',
 'Vietnam',
 'China',
 'United States',
 '',
 'United States',
 'Norway',
 'United Kingdom',
 'France',
 'Ireland',
 'India',
 'France',
 'Switzerland',
 'Spain',
 'United States',
 'United Arab Emirates',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 '',
 '',
 '',
 '',
 '',
 '',
 'Canada',
 'United States',
 'United Kingdom',
 'South Korea',
 'United States',
 'United States',
 'United Kingdom',
 '',
 '',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Hong Kong',
 'United States',
 'United States',
 'United Kingdom',
 'Canada',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'Canada',
 'Japan',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Japan',
 'Canada',
 'South Korea',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Lebanon',
 'Indonesia',
 'United Kingdom',
 'Ireland',
 'India',
 'Indonesia',
 'Indonesia',
 'India',
 '',
 'United Kingdom',
 '',
 'India',
 'India',
 'India',
 'India',
 '',
 'Cambodia',
 'United States',
 'Russia',
 'Pakistan',
 'United States',
 'Mexico',
 'Mexico',
 'United States',
 'Denmark',
 'United Kingdom',
 'United States',
 'United States',
 'Poland',
 'United States',
 'India',
 'United States',
 'United States',
 'Thailand',
 '',
 'Japan',
 '',
 '',
 'United States',
 'Thailand',
 '',
 'Israel',
 'United States',
 'United States',
 'China',
 'United States',
 'United States',
 'United States',
 'United States',
 '',
 'Turkey',
 'France',
 'Mexico',
 'China',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'South Korea',
 'Italy',
 'United States',
 'United States',
 'United States',
 '',
 'Netherlands',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 '',
 'United Kingdom',
 '',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'Brazil',
 'United States',
 'United Kingdom',
 'Canada',
 'United States',
 'United States',
 'United States',
 'France',
 'Germany',
 'United States',
 'Canada',
 '',
 'Nigeria',
 'United States',
 'United States',
 'United States',
 'Australia',
 'Nigeria',
 'Denmark',
 'Brazil',
 'France',
 'Portugal',
 'Sweden',
 'United States',
 'Nigeria',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'Nigeria',
 'Nigeria',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 '',
 'United Arab Emirates',
 'Egypt',
 'United States',
 'Taiwan',
 'Spain',
 'United States',
 'France',
 'Belgium',
 'United States',
 'India',
 'India',
 'India',
 'India',
 'United States',
 'India',
 'Germany',
 'Austria',
 'Thailand',
 'Australia',
 'Mexico',
 'France',
 'United States',
 'United States',
 'United States',
 '',
 'Thailand',
 'United States',
 'Russia',
 '',
 'Taiwan',
 '',
 'India',
 '',
 'Taiwan',
 'Japan',
 'Japan',
 'United States',
 'India',
 'Czech Republic',
 'France',
 'India',
 'Japan',
 'Japan',
 'United States',
 'United States',
 'Senegal',
 'Japan',
 'Japan',
 'Japan',
 'India',
 'United States',
 'India',
 'Norway',
 'India',
 'India',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Germany',
 'United States',
 'France',
 'United States',
 'India',
 'Soviet Union',
 'Argentina',
 'Spain',
 'United States',
 'Hong Kong',
 'China',
 'United Kingdom',
 'Italy',
 'Israel',
 'Peru',
 'United States',
 'Argentina',
 'Uruguay',
 'Spain',
 'France',
 'Germany',
 'United States',
 'Italy',
 'Argentina',
 'United States',
 'Netherlands',
 'Netherlands',
 'United Kingdom',
 'United Kingdom',
 'Pakistan',
 'Norway',
 'United States',
 'Taiwan',
 'United Kingdom',
 'Canada',
 'United States',
 'Taiwan',
 'United States',
 'China',
 'Spain',
 'United Kingdom',
 'Switzerland',
 'Taiwan',
 'China',
 'Taiwan',
 'Spain',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Indonesia',
 'United States',
 'Indonesia',
 'United Kingdom',
 'Ukraine',
 'United States',
 'United States',
 'United States',
 'Malaysia',
 'Australia',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Ireland',
 'South Africa',
 'Indonesia',
 'Vietnam',
 'United States',
 'Japan',
 'China',
 'India',
 'Nepal',
 'United States',
 'Mexico',
 'South Korea',
 'India',
 'Indonesia',
 '',
 'Indonesia',
 'Czech Republic',
 'United States',
 'Japan',
 'United Kingdom',
 'United States',
 '',
 'South Korea',
 'United Kingdom',
 'Hong Kong',
 'Turkey',
 'Canada',
 'Turkey',
 'United States',
 'United States',
 'United Kingdom',
 'Canada',
 'Italy',
 'Indonesia',
 'United States',
 'Japan',
 'United States',
 'Argentina',
 'Taiwan',
 '',
 'Spain',
 'France',
 'Philippines',
 'United States',
 'United States',
 'Australia',
 'United States',
 'South Korea',
 'India',
 'South Korea',
 '',
 'India',
 'India',
 'India',
 '',
 'Indonesia',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'India',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'Belgium',
 'China',
 'United States',
 'Canada',
 'Mexico',
 'United States',
 'United Kingdom',
 'United States',
 'Indonesia',
 'Canada',
 'Canada',
 'United States',
 'United Kingdom',
 'Germany',
 'Canada',
 'France',
 'France',
 'Belgium',
 'Canada',
 'France',
 '',
 'United States',
 'Hong Kong',
 'China',
 'United States',
 'United States',
 'Spain',
 'United States',
 'China',
 'United States',
 '',
 'Russia',
 'Poland',
 'Serbia',
 'Serbia',
 'United States',
 'Spain',
 'Portugal',
 'Colombia',
 'United States',
 'United Kingdom',
 'United States',
 'Czech Republic',
 'India',
 'United States',
 'Israel',
 'United States',
 'United States',
 'Brazil',
 'Turkey',
 'United States',
 'Spain',
 'United States',
 'United Kingdom',
 'Germany',
 'Argentina',
 '',
 'France',
 'Spain',
 'United States',
 'United States',
 'Switzerland',
 'China',
 'United States',
 '',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'Singapore',
 'Malaysia',
 'India',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 '',
 'Canada',
 'Luxembourg',
 'United States',
 'United States',
 'Hong Kong',
 'China',
 'United States',
 'China',
 'United States',
 'United States',
 'United States',
 'Spain',
 'Germany',
 'United States',
 'United States',
 'United States',
 'United States',
 'Egypt',
 'Austria',
 'United States',
 'United States',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'United States',
 'United Kingdom',
 'Indonesia',
 '',
 'United States',
 'United States',
 'United States',
 'Peru',
 'United Kingdom',
 'United States',
 'Morocco',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 '',
 'United Kingdom',
 '',
 'Australia',
 '',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'Canada',
 'United States',
 'Mexico',
 'United States',
 'United States',
 'Bulgaria',
 'United States',
 '',
 'United Kingdom',
 '',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'West Germany',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 '',
 'United States',
 'Nigeria',
 'Belgium',
 'Luxembourg',
 'France',
 'United States',
 'Australia',
 'United States',
 'Mexico',
 'Argentina',
 '',
 'United Kingdom',
 'Canada',
 'United States',
 'Cayman Islands',
 'South Korea',
 'India',
 '',
 'Hong Kong',
 'China',
 'United States',
 'United Kingdom',
 'Morocco',
 '',
 '',
 'Indonesia',
 'United States',
 'United Kingdom',
 'France',
 'South Africa',
 'Nigeria',
 'United States',
 '',
 'United Kingdom',
 'United States',
 'Turkey',
 'India',
 '',
 'Nigeria',
 'Spain',
 'Nigeria',
 'United Kingdom',
 'United States',
 'United States',
 'Nigeria',
 'India',
 'Indonesia',
 'India',
 '',
 'United States',
 'China',
 'Australia',
 'Canada',
 'United States',
 'South Korea',
 'United States',
 'United States',
 'South Korea',
 'South Korea',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'India',
 'United Kingdom',
 'United States',
 'United States',
 '',
 '',
 '',
 'India',
 'Netherlands',
 'Denmark',
 'South Africa',
 'United States',
 'United States',
 'United States',
 'Turkey',
 'United Kingdom',
 'Poland',
 'United States',
 '',
 '',
 'United States',
 'India',
 'India',
 'India',
 'United Kingdom',
 'India',
 'India',
 'India',
 'New Zealand',
 'India',
 'India',
 'Venezuela',
 'India',
 'Malaysia',
 'India',
 'India',
 'United States',
 'Spain',
 'India',
 'Australia',
 'United Arab Emirates',
 'Australia',
 'India',
 'France',
 'India',
 'Malaysia',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Canada',
 'India',
 'Thailand',
 'United States',
 'United Arab Emirates',
 'France',
 'Japan',
 'Japan',
 'Japan',
 'France',
 'Japan',
 'Japan',
 'Japan',
 'United States',
 'United Kingdom',
 'France',
 'Canada',
 'China',
 'United States',
 'Italy',
 'France',
 'United States',
 'United States',
 'France',
 'South Korea',
 'India',
 '',
 'Germany',
 'Jordan',
 'Netherlands',
 'Turkey',
 'France',
 'Germany',
 'Poland',
 'Mexico',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Turkey',
 'Spain',
 'France',
 'United States',
 '',
 'Indonesia',
 'United States',
 '',
 'United States',
 'United States',
 'Israel',
 'United Kingdom',
 'Canada',
 'Saudi Arabia',
 'Spain',
 'United States',
 'United States',
 'Turkey',
 'United States',
 'United States',
 'Nigeria',
 'Japan',
 'Spain',
 'France',
 'Indonesia',
 '',
 '',
 'Egypt',
 'France',
 '',
 '',
 'United States',
 'South Korea',
 'Japan',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'Denmark',
 'France',
 'Poland',
 'Canada',
 'United States',
 'Germany',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'Germany',
 'United States',
 'South Korea',
 'South Korea',
 'India',
 'United States',
 'Germany',
 'United States',
 'United States',
 'India',
 'Poland',
 'United States',
 'Netherlands',
 'India',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'Poland,',
 'United States',
 'India',
 'Poland',
 'United States',
 'United Kingdom',
 ...]

### transform into dataframe

In [589]:
df_country = pd.DataFrame(data = list_country)

df_country

                   0
0      United States
1              India
2        South Korea
...              ...
7647
7648  United Kingdom
7649   United States

[7650 rows x 1 columns]

### add to another col

In [590]:
df_nfx = df_nfx.drop(columns = 'country')

df_nfx

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
...,...,...,...,...,...,...,...,...,...,...,...
6228,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,,,,2016,,60 min,Movies,Nursery rhymes and original music for children...
6229,70281022,TV Show,A Young Doctor's Notebook and Other Stories,,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6230,70153404,TV Show,Friends,,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [591]:
df_nfx = pd.concat(objs = [df_nfx, df_country], axis = 'columns')

df_nfx

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description,0
0,81145628.00,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...",9-Sep-19,2019.00,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,United States
1,80117401.00,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,9-Sep-16,2016.00,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,India
2,70234439.00,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",8-Sep-18,2013.00,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",South Korea
...,...,...,...,...,...,...,...,...,...,...,...,...
7647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
7648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom
7649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States

### rename the col

In [592]:
df_nfx = df_nfx.rename(columns = {0: 'country'})

df_nfx

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description,country
0,81145628.00,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...",9-Sep-19,2019.00,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,United States
1,80117401.00,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,9-Sep-16,2016.00,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,India
2,70234439.00,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",8-Sep-18,2013.00,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",South Korea
...,...,...,...,...,...,...,...,...,...,...,...,...
7647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
7648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom
7649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States

## Col - listed_in

### replace NAN with ''

In [593]:
df_nfx['listed_in'] = df_nfx['listed_in'].replace(to_replace = np.nan, value = '')

df_nfx['listed_in']

0       Children & Family Movies, Comedies
1                          Stand-Up Comedy
2                                 Kids' TV
                       ...
7647
7648
7649
Name: listed_in, Length: 7650, dtype: object

In [594]:
df_nfx['listed_in'] = df_nfx['listed_in'].dropna(how = 'any')

df_nfx['listed_in']

0       Children & Family Movies, Comedies
1                          Stand-Up Comedy
2                                 Kids' TV
                       ...
7647
7648
7649
Name: listed_in, Length: 7650, dtype: object

### seperate each genre

In [595]:
list_genre = [j for i in df_nfx['listed_in'] for j in i.split(', ')]

list_genre

['Children & Family Movies',
 'Comedies',
 'Stand-Up Comedy',
 "Kids' TV",
 "Kids' TV",
 'Comedies',
 'Crime TV Shows',
 'International TV Shows',
 'Spanish-Language TV Shows',
 'International Movies',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Stand-Up Comedy',
 'Docuseries',
 'Science & Nature TV',
 'Action & Adventure',
 'Thrillers',
 'Stand-Up Comedy',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Children & Family Movies',
 'Children & Family Movies',
 'Children & Family Movies',
 'Children & Family Movies',
 'Children & Family Movies',
 'Children & Family Movies',
 'Children & Family Movies',
 'Cult Movies',
 'Dramas',
 'Independent Movies',
 'Comedies',
 'Independent Movies',
 'Romantic Movies',
 'Action & Adventure',
 'Comedies',
 'International Movies',
 'Documentaries',
 'Horror Movies',
 'Thrillers',
 'Dramas',
 'Independent Movies',
 'Dramas',
 'Independent Movies',
 'Romantic Movies',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Comedies',
 'Documentaries',
 'Docuseries',
 'Horror Movies',
 'International Movies',
 'Children & Family Movies',
 'Comedies',
 'Sci-Fi & Fantasy',
 'Comedies',
 'Romantic Movies',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Dramas',
 'Independent Movies',
 'International Movies',
 "Kids' TV",
 'TV Comedies',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Comedies',
 'Dramas',
 'Independent Movies',
 'Comedies',
 'International Movies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'International TV Shows',
 'TV Dramas',
 'TV Thrillers',
 'Action & Adventure',
 'Comedies',
 'Independent Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 'Dramas',
 'Independent Movies',
 'Documentaries',
 'Documentaries',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Horror Movies',
 'International Movies',
 'Horror Movies',
 'International Movies',
 'Comedies',
 'International Movies',
 'Comedies',
 'Dramas',
 'Stand-Up Comedy',
 'Romantic TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Horror Movies',
 'Dramas',
 'Romantic Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 'Action & Adventure',
 'Sci-Fi & Fantasy',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Crime TV Shows',
 'TV Dramas',
 'TV Mysteries',
 'Stand-Up Comedy',
 'TV Comedies',
 "Kids' TV",
 'Children & Family Movies',
 'Dramas',
 'Docuseries',
 'Docuseries',
 'Docuseries',
 'Docuseries',
 "Kids' TV",
 'TV Comedies',
 'Dramas',
 'International Movies',
 'British TV Shows',
 'Docuseries',
 'International TV Shows',
 'Documentaries',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Dramas',
 'Action & Adventure',
 'Action & Adventure',
 'International Movies',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Horror Movies',
 'Thrillers',
 'Documentaries',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Dramas',
 'Romantic Movies',
 'Documentaries',
 'International Movies',
 'British TV Shows',
 'Docuseries',
 'International TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Children & Family Movies',
 'Music & Musicals',
 'Documentaries',
 'International Movies',
 'International Movies',
 'Thrillers',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Action & Adventure',
 'International Movies',
 'Sci-Fi & Fantasy',
 'Action & Adventure',
 'Dramas',
 'Documentaries',
 'International TV Shows',
 'Reality TV',
 'Spanish-Language TV Shows',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Horror Movies',
 'International Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Documentaries',
 'International Movies',
 'Documentaries',
 'International TV Shows',
 'TV Action & Adventure',
 'TV Dramas',
 'Comedies',
 'International Movies',
 "Kids' TV",
 'TV Comedies',
 'Dramas',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Crime TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Anime Features',
 'Music & Musicals',
 'Sci-Fi & Fantasy',
 'TV Comedies',
 'TV Dramas',
 'Teen TV Shows',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Children & Family Movies',
 'Dramas',
 'Faith & Spirituality',
 'International Movies',
 'Romantic Movies',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Crime TV Shows',
 'International TV Shows',
 'Spanish-Language TV Shows',
 'Action & Adventure',
 'Stand-Up Comedy',
 'Documentaries',
 'Documentaries',
 'Documentaries',
 'International Movies',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Children & Family Movies',
 'Comedies',
 'Comedies',
 'International Movies',
 'Music & Musicals',
 'Comedies',
 'International Movies',
 'Music & Musicals',
 'Action & Adventure',
 'Children & Family Movies',
 'Documentaries',
 'Comedies',
 'Independent Movies',
 'Thrillers',
 'Action & Adventure',
 'Stand-Up Comedy',
 'Action & Adventure',
 'International Movies',
 'Comedies',
 'International Movies',
 'Comedies',
 'Horror Movies',
 'International Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 "Kids' TV",
 'TV Comedies',
 'Comedies',
 'Independent Movies',
 'Romantic Movies',
 'Documentaries',
 'Stand-Up Comedy',
 'TV Comedies',
 'TV Dramas',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Documentaries',
 'Music & Musicals',
 'Independent Movies',
 'International Movies',
 'Thrillers',
 'Documentaries',
 'Music & Musicals',
 'Dramas',
 'Independent Movies',
 'Thrillers',
 'Comedies',
 'Dramas',
 'International Movies',
 'Comedies',
 'International Movies',
 'Dramas',
 'International Movies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'International TV Shows',
 'Korean TV Shows',
 'TV Action & Adventure',
 'Reality TV',
 'Science & Nature TV',
 'TV Action & Adventure',
 'Anime Series',
 'International TV Shows',
 "Kids' TV",
 'TV Comedies',
 'TV Dramas',
 'TV Mysteries',
 'Documentaries',
 'Music & Musicals',
 'Stand-Up Comedy',
 'Crime TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Comedies',
 'Crime TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Crime TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Crime TV Shows',
 'International TV Shows',
 'Spanish-Language TV Shows',
 'British TV Shows',
 'Crime TV Shows',
 'International TV Shows',
 'Dramas',
 'Independent Movies',
 'LGBTQ Movies',
 'Docuseries',
 'Science & Nature TV',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Comedies',
 'International Movies',
 'Children & Family Movies',
 'TV Horror',
 'Teen TV Shows',
 'Dramas',
 'International Movies',
 'Anime Series',
 'International TV Shows',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Dramas',
 'Independent Movies',
 'Documentaries',
 'Crime TV Shows',
 'International TV Shows',
 'TV Action & Adventure',
 'Action & Adventure',
 'Comedies',
 'International Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 'Dramas',
 'Thrillers',
 'Docuseries',
 "Kids' TV",
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Documentaries',
 'International Movies',
 'Independent Movies',
 'Sci-Fi & Fantasy',
 'Thrillers',
 "Kids' TV",
 'Stand-Up Comedy',
 'Crime TV Shows',
 'TV Dramas',
 'TV Mysteries',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Dramas',
 'Thrillers',
 'International TV Shows',
 'Korean TV Shows',
 'Romantic TV Shows',
 'Comedies',
 'Children & Family Movies',
 'International TV Shows',
 'TV Dramas',
 'International TV Shows',
 'TV Dramas',
 'International TV Shows',
 'TV Dramas',
 'Documentaries',
 'Music & Musicals',
 'Horror Movies',
 'Independent Movies',
 'Docuseries',
 'Science & Nature TV',
 'Action & Adventure',
 'Documentaries',
 'Music & Musicals',
 'Action & Adventure',
 'International Movies',
 'Stand-Up Comedy',
 "Kids' TV",
 'TV Comedies',
 'Horror Movies',
 'Independent Movies',
 'British TV Shows',
 'Crime TV Shows',
 'Docuseries',
 'Action & Adventure',
 'Dramas',
 'Horror Movies',
 'Thrillers',
 'Action & Adventure',
 'Comedies',
 'Cult Movies',
 'International Movies',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Stand-Up Comedy',
 'Movies',
 'Documentaries',
 'Documentaries',
 'Docuseries',
 'Anime Series',
 "Kids' TV",
 'Crime TV Shows',
 'Docuseries',
 'Documentaries',
 'International Movies',
 'Music & Musicals',
 'Reality TV',
 'Documentaries',
 'Docuseries',
 'Docuseries',
 'Movies',
 'Reality TV',
 'Docuseries',
 'Science & Nature TV',
 'Crime TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Comedies',
 'Dramas',
 'International Movies',
 'British TV Shows',
 'International TV Shows',
 'Reality TV',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Dramas',
 'International Movies',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'British TV Shows',
 'International TV Shows',
 'Reality TV',
 'British TV Shows',
 'Docuseries',
 'International TV Shows',
 'Documentaries',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Horror Movies',
 'International Movies',
 'Dramas',
 'Dramas',
 'International Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 'Action & Adventure',
 'Action & Adventure',
 'Independent Movies',
 'Documentaries',
 'British TV Shows',
 'Crime TV Shows',
 'TV Dramas',
 'Comedies',
 'Documentaries',
 'Music & Musicals',
 'Docuseries',
 'International TV Shows',
 'Documentaries',
 'Comedies',
 'International Movies',
 'Music & Musicals',
 'Documentaries',
 'International Movies',
 'Dramas',
 'Thrillers',
 'Dramas',
 'International Movies',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Dramas',
 'Action & Adventure',
 'International Movies',
 'Sci-Fi & Fantasy',
 'Docuseries',
 'International TV Shows',
 'Spanish-Language TV Shows',
 'Reality TV',
 'Stand-Up Comedy & Talk Shows',
 'TV Comedies',
 'Horror Movies',
 'International Movies',
 "Kids' TV",
 'Dramas',
 'International Movies',
 'Thrillers',
 'Comedies',
 'Dramas',
 'Independent Movies',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Action & Adventure',
 'Dramas',
 'Thrillers',
 'Horror Movies',
 'Independent Movies',
 'Documentaries',
 'Anime Series',
 'International TV Shows',
 'TV Horror',
 'Comedies',
 'International Movies',
 'International TV Shows',
 'TV Dramas',
 'TV Horror',
 'International TV Shows',
 'Spanish-Language TV Shows',
 'TV Dramas',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Children & Family Movies',
 'Comedies',
 'Romantic Movies',
 'Action & Adventure',
 'Sci-Fi & Fantasy',
 'British TV Shows',
 'Crime TV Shows',
 'International TV Shows',
 'Crime TV Shows',
 'TV Dramas',
 'Documentaries',
 'Documentaries',
 'Documentaries',
 'TV Action & Adventure',
 'TV Dramas',
 'TV Sci-Fi & Fantasy',
 'Docuseries',
 'Science & Nature TV',
 'Children & Family Movies',
 'Comedies',
 'International TV Shows',
 'Korean TV Shows',
 'TV Dramas',
 'Dramas',
 'International Movies',
 'Documentaries',
 'Stand-Up Comedy',
 'Stand-Up Comedy & Talk Shows',
 'TV Comedies',
 'Docuseries',
 "Kids' TV",
 'Science & Nature TV',
 'Dramas',
 'International Movies',
 'Horror Movies',
 'Stand-Up Comedy',
 'Dramas',
 'Romantic Movies',
 'Documentaries',
 'International Movies',
 'Documentaries',
 'International Movies',
 'International TV Shows',
 'Reality TV',
 'Thrillers',
 'Comedies',
 'Independent Movies',
 'Thrillers',
 'Comedies',
 'Cult Movies',
 'Dramas',
 'Action & Adventure',
 'Documentaries',
 'International Movies',
 'Action & Adventure',
 'Documentaries',
 'Children & Family Movies',
 'Comedies',
 'Romantic Movies',
 "Kids' TV",
 'Dramas',
 'International Movies',
 'Comedies',
 'Dramas',
 'Dramas',
 'Thrillers',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Children & Family Movies',
 'Comedies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Action & Adventure',
 'Dramas',
 'Dramas',
 'Independent Movies',
 'British TV Shows',
 'Crime TV Shows',
 'Docuseries',
 'Children & Family Movies',
 'Classic Movies',
 'Comedies',
 'Cult Movies',
 'Comedies',
 'Cult Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Dramas',
 'Romantic Movies',
 'Sci-Fi & Fantasy',
 'Horror Movies',
 'Independent Movies',
 'Thrillers',
 'Action & Adventure',
 'Romantic Movies',
 'Action & Adventure',
 "Kids' TV",
 "Kids' TV",
 'Comedies',
 'International Movies',
 'Action & Adventure',
 'Comedies',
 'International Movies',
 'Action & Adventure',
 'Comedies',
 'Crime TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Documentaries',
 'International Movies',
 'Sports Movies',
 'Independent Movies',
 'Thrillers',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Horror Movies',
 'Thrillers',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Children & Family Movies',
 'Comedies',
 'Dramas',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Comedies',
 'Cult Movies',
 'Horror Movies',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Comedies',
 'Horror Movies',
 'International Movies',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Comedies',
 'Independent Movies',
 'International Movies',
 'Dramas',
 'International Movies',
 'Sports Movies',
 'Horror Movies',
 'Horror Movies',
 'Independent Movies',
 'Thrillers',
 'Dramas',
 'Thrillers',
 'Documentaries',
 'International Movies',
 'Sports Movies',
 'Horror Movies',
 'International Movies',
 'Thrillers',
 'Action & Adventure',
 'International TV Shows',
 'TV Dramas',
 'Children & Family Movies',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'International TV Shows',
 'TV Dramas',
 'TV Horror',
 'Action & Adventure',
 'International Movies',
 'Documentaries',
 'International Movies',
 'International TV Shows',
 'TV Dramas',
 'TV Horror',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Dramas',
 'Independent Movies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Documentaries',
 'International Movies',
 'Sports Movies',
 'Dramas',
 'International Movies',
 'Music & Musicals',
 'International TV Shows',
 'TV Dramas',
 'Anime Series',
 'International TV Shows',
 'Docuseries',
 'Reality TV',
 'Documentaries',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'International Movies',
 'Comedies',
 'Horror Movies',
 'Dramas',
 'International Movies',
 'Sports Movies',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Comedies',
 'International Movies',
 'Music & Musicals',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Anime Features',
 'International Movies',
 'Action & Adventure',
 'Comedies',
 'International Movies',
 'Documentaries',
 'Sports Movies',
 'Documentaries',
 'International Movies',
 'Classic Movies',
 'Comedies',
 'Independent Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Children & Family Movies',
 'Comedies',
 'Documentaries',
 'International Movies',
 'Dramas',
 'International Movies',
 "Kids' TV",
 'Documentaries',
 'International Movies',
 'Documentaries',
 'LGBTQ Movies',
 'Music & Musicals',
 'Dramas',
 'International Movies',
 'Comedies',
 'International Movies',
 'British TV Shows',
 'Docuseries',
 'British TV Shows',
 'TV Horror',
 'TV Thrillers',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Comedies',
 'Children & Family Movies',
 'Comedies',
 'Children & Family Movies',
 'Dramas',
 'Sports Movies',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'Documentaries',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Comedies',
 'Comedies',
 'International Movies',
 'Documentaries',
 'International TV Shows',
 'TV Comedies',
 'TV Dramas',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Dramas',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Comedies',
 'International TV Shows',
 'Romantic TV Shows',
 'TV Comedies',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'British TV Shows',
 'Crime TV Shows',
 'Docuseries',
 'Stand-Up Comedy',
 'Dramas',
 'Romantic Movies',
 'Dramas',
 'Thrillers',
 'Reality TV',
 'Children & Family Movies',
 'Dramas',
 'Sports Movies',
 'Stand-Up Comedy',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Documentaries',
 'International Movies',
 'Stand-Up Comedy',
 'Children & Family Movies',
 'Comedies',
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Documentaries',
 'Music & Musicals',
 'Documentaries',
 'Stand-Up Comedy',
 "Kids' TV",
 'Action & Adventure',
 'Dramas',
 'International Movies',
 'Dramas',
 'International Movies',
 'Romantic Movies',
 'Comedies',
 'Dramas',
 'International Movies',
 'Horror Movies',
 'Anime Series',
 'International TV Shows',
 'Action & Adventure',
 'Comedies',
 'International Movies',
 'Documentaries',
 'LGBTQ Movies',
 "Kids' TV",
 'International TV Shows',
 'Korean TV Shows',
 'TV Action & Adventure',
 'Dramas',
 'Independent Movies',
 'International Movies',
 'Dramas',
 'International Movies',
 'Sports Movies',
 'Reality TV',
 'Dramas',
 'International Movies',
 'Docuseries',
 'Anime Series',
 'International TV Shows',
 'Horror Movies',
 'Thrillers',
 'Comedies',
 'Dramas',
 'Independent Movies',
 'Children & Family Movies',
 'International TV Shows',
 'Korean TV Shows',
 'TV Comedies',
 'Documentaries',
 'Comedies',
 'International Movies',
 'Romantic Movies',
 'Horror Movies',
 'Thrillers',
 'Children & Family Movies',
 'Comedies',
 "Kids' TV",
 'TV Action & Adventure',
 'TV Dramas',
 'Children & Family Movies',
 'Dramas',
 'Thrillers',
 'Dramas',
 'International Movies',
 'Horror Movies',
 'Thrillers',
 'Anime Series',
 'International TV Shows',
 'Romantic TV Shows',
 'Children & Family Movies',
 'Comedies',
 'Stand-Up Comedy',
 'Crime TV Shows',
 'International TV Shows',
 'TV Action & Adventure',
 'Crime TV Shows',
 'International TV Shows',
 'TV Dramas',
 'Dramas',
 'International Movies',
 'Thrillers',
 'Dramas',
 'International Movies',
 'Stand-Up Comedy',
 ...]

### replace "TV", "Movies" with ""

In [596]:
list_genre = [i.replace(' TV', '').replace('TV ', '').replace(' Movies', '').replace(' Shows', '').replace('\'', '') for i in list_genre]

list_genre

['Children & Family',
 'Comedies',
 'Stand-Up Comedy',
 'Kids',
 'Kids',
 'Comedies',
 'Crime',
 'International',
 'Spanish-Language',
 'International',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Stand-Up Comedy',
 'Docuseries',
 'Science & Nature',
 'Action & Adventure',
 'Thrillers',
 'Stand-Up Comedy',
 'Action & Adventure',
 'Dramas',
 'International',
 'Children & Family',
 'Children & Family',
 'Children & Family',
 'Children & Family',
 'Children & Family',
 'Children & Family',
 'Children & Family',
 'Cult',
 'Dramas',
 'Independent',
 'Comedies',
 'Independent',
 'Romantic',
 'Action & Adventure',
 'Comedies',
 'International',
 'Documentaries',
 'Horror',
 'Thrillers',
 'Dramas',
 'Independent',
 'Dramas',
 'Independent',
 'Romantic',
 'International',
 'Romantic',
 'Comedies',
 'Documentaries',
 'Docuseries',
 'Horror',
 'International',
 'Children & Family',
 'Comedies',
 'Sci-Fi & Fantasy',
 'Comedies',
 'Romantic',
 'Dramas',
 'International',
 'Thrillers',
 'Dramas',
 'Independent',
 'International',
 'Kids',
 'Comedies',
 'Dramas',
 'International',
 'Thrillers',
 'Comedies',
 'Dramas',
 'Independent',
 'Comedies',
 'International',
 'Comedies',
 'International',
 'Romantic',
 'International',
 'Dramas',
 'Thrillers',
 'Action & Adventure',
 'Comedies',
 'Independent',
 'Comedies',
 'Dramas',
 'International',
 'Dramas',
 'Independent',
 'Documentaries',
 'Documentaries',
 'Comedies',
 'International',
 'Romantic',
 'Comedies',
 'International',
 'Romantic',
 'Comedies',
 'International',
 'Romantic',
 'Dramas',
 'International',
 'Romantic',
 'Horror',
 'International',
 'Horror',
 'International',
 'Comedies',
 'International',
 'Comedies',
 'Dramas',
 'Stand-Up Comedy',
 'Romantic',
 'Comedies',
 'Dramas',
 'Dramas',
 'Independent',
 'International',
 'Horror',
 'Dramas',
 'Romantic',
 'Comedies',
 'Dramas',
 'International',
 'Action & Adventure',
 'Sci-Fi & Fantasy',
 'Comedies',
 'International',
 'Romantic',
 'Crime',
 'Dramas',
 'Mysteries',
 'Stand-Up Comedy',
 'Comedies',
 'Kids',
 'Children & Family',
 'Dramas',
 'Docuseries',
 'Docuseries',
 'Docuseries',
 'Docuseries',
 'Kids',
 'Comedies',
 'Dramas',
 'International',
 'British',
 'Docuseries',
 'International',
 'Documentaries',
 'International',
 'Romantic',
 'Dramas',
 'Action & Adventure',
 'Action & Adventure',
 'International',
 'Dramas',
 'Independent',
 'International',
 'Horror',
 'Thrillers',
 'Documentaries',
 'International',
 'Comedies',
 'Dramas',
 'Dramas',
 'Romantic',
 'Documentaries',
 'International',
 'British',
 'Docuseries',
 'International',
 'International',
 'Dramas',
 'Children & Family',
 'Music & Musicals',
 'Documentaries',
 'International',
 'International',
 'Thrillers',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Action & Adventure',
 'International',
 'Sci-Fi & Fantasy',
 'Action & Adventure',
 'Dramas',
 'Documentaries',
 'International',
 'Reality',
 'Spanish-Language',
 'Comedies',
 'International',
 'Romantic',
 'Horror',
 'International',
 'Dramas',
 'International',
 'Romantic',
 'Documentaries',
 'International',
 'Documentaries',
 'International',
 'Action & Adventure',
 'Dramas',
 'Comedies',
 'International',
 'Kids',
 'Comedies',
 'Dramas',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Crime',
 'International',
 'Dramas',
 'Anime Features',
 'Music & Musicals',
 'Sci-Fi & Fantasy',
 'Comedies',
 'Dramas',
 'Teen',
 'Dramas',
 'Independent',
 'International',
 'Dramas',
 'Independent',
 'International',
 'Children & Family',
 'Dramas',
 'Faith & Spirituality',
 'International',
 'Romantic',
 'Action & Adventure',
 'Dramas',
 'International',
 'Crime',
 'International',
 'Spanish-Language',
 'Action & Adventure',
 'Stand-Up Comedy',
 'Documentaries',
 'Documentaries',
 'Documentaries',
 'International',
 'Action & Adventure',
 'Dramas',
 'International',
 'Children & Family',
 'Comedies',
 'Comedies',
 'International',
 'Music & Musicals',
 'Comedies',
 'International',
 'Music & Musicals',
 'Action & Adventure',
 'Children & Family',
 'Documentaries',
 'Comedies',
 'Independent',
 'Thrillers',
 'Action & Adventure',
 'Stand-Up Comedy',
 'Action & Adventure',
 'International',
 'Comedies',
 'International',
 'Comedies',
 'Horror',
 'International',
 'Comedies',
 'Dramas',
 'International',
 'Kids',
 'Comedies',
 'Comedies',
 'Independent',
 'Romantic',
 'Documentaries',
 'Stand-Up Comedy',
 'Comedies',
 'Dramas',
 'Dramas',
 'Independent',
 'International',
 'Documentaries',
 'Music & Musicals',
 'Independent',
 'International',
 'Thrillers',
 'Documentaries',
 'Music & Musicals',
 'Dramas',
 'Independent',
 'Thrillers',
 'Comedies',
 'Dramas',
 'International',
 'Comedies',
 'International',
 'Dramas',
 'International',
 'Comedies',
 'International',
 'Romantic',
 'International',
 'Korean',
 'Action & Adventure',
 'Reality',
 'Science & Nature',
 'Action & Adventure',
 'Anime Series',
 'International',
 'Kids',
 'Comedies',
 'Dramas',
 'Mysteries',
 'Documentaries',
 'Music & Musicals',
 'Stand-Up Comedy',
 'Crime',
 'Comedies',
 'Dramas',
 'Comedies',
 'Crime',
 'International',
 'Dramas',
 'Crime',
 'International',
 'Dramas',
 'Crime',
 'International',
 'Spanish-Language',
 'British',
 'Crime',
 'International',
 'Dramas',
 'Independent',
 'LGBTQ',
 'Docuseries',
 'Science & Nature',
 'International',
 'Comedies',
 'Dramas',
 'Comedies',
 'International',
 'Children & Family',
 'Horror',
 'Teen',
 'Dramas',
 'International',
 'Anime Series',
 'International',
 'Action & Adventure',
 'Dramas',
 'International',
 'Dramas',
 'Independent',
 'Documentaries',
 'Crime',
 'International',
 'Action & Adventure',
 'Action & Adventure',
 'Comedies',
 'International',
 'Comedies',
 'Dramas',
 'International',
 'Dramas',
 'Thrillers',
 'Docuseries',
 'Kids',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Romantic',
 'Documentaries',
 'International',
 'Independent',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Kids',
 'Stand-Up Comedy',
 'Crime',
 'Dramas',
 'Mysteries',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Stand-Up Comedy',
 'Dramas',
 'Thrillers',
 'International',
 'Korean',
 'Romantic',
 'Comedies',
 'Children & Family',
 'International',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Dramas',
 'Documentaries',
 'Music & Musicals',
 'Horror',
 'Independent',
 'Docuseries',
 'Science & Nature',
 'Action & Adventure',
 'Documentaries',
 'Music & Musicals',
 'Action & Adventure',
 'International',
 'Stand-Up Comedy',
 'Kids',
 'Comedies',
 'Horror',
 'Independent',
 'British',
 'Crime',
 'Docuseries',
 'Action & Adventure',
 'Dramas',
 'Horror',
 'Thrillers',
 'Action & Adventure',
 'Comedies',
 'Cult',
 'International',
 'Sci-Fi & Fantasy',
 'Thrillers',
 'Stand-Up Comedy',
 'Movies',
 'Documentaries',
 'Documentaries',
 'Docuseries',
 'Anime Series',
 'Kids',
 'Crime',
 'Docuseries',
 'Documentaries',
 'International',
 'Music & Musicals',
 'Reality',
 'Documentaries',
 'Docuseries',
 'Docuseries',
 'Movies',
 'Reality',
 'Docuseries',
 'Science & Nature',
 'Crime',
 'International',
 'Dramas',
 'Comedies',
 'Dramas',
 'International',
 'British',
 'International',
 'Reality',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Romantic',
 'Dramas',
 'International',
 'Romantic',
 'Dramas',
 'International',
 'Action & Adventure',
 'Dramas',
 'International',
 'British',
 'International',
 'Reality',
 'British',
 'Docuseries',
 'International',
 'Documentaries',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Horror',
 'International',
 'Dramas',
 'Dramas',
 'International',
 'Comedies',
 'Dramas',
 'International',
 'Action & Adventure',
 'Action & Adventure',
 'Independent',
 'Documentaries',
 'British',
 'Crime',
 'Dramas',
 'Comedies',
 'Documentaries',
 'Music & Musicals',
 'Docuseries',
 'International',
 'Documentaries',
 'Comedies',
 'International',
 'Music & Musicals',
 'Documentaries',
 'International',
 'Dramas',
 'Thrillers',
 'Dramas',
 'International',
 'International',
 'Romantic',
 'Dramas',
 'Action & Adventure',
 'International',
 'Sci-Fi & Fantasy',
 'Docuseries',
 'International',
 'Spanish-Language',
 'Reality',
 'Stand-Up Comedy & Talk',
 'Comedies',
 'Horror',
 'International',
 'Kids',
 'Dramas',
 'International',
 'Thrillers',
 'Comedies',
 'Dramas',
 'Independent',
 'International',
 'Romantic',
 'Action & Adventure',
 'Dramas',
 'Thrillers',
 'Horror',
 'Independent',
 'Documentaries',
 'Anime Series',
 'International',
 'Horror',
 'Comedies',
 'International',
 'International',
 'Dramas',
 'Horror',
 'International',
 'Spanish-Language',
 'Dramas',
 'Dramas',
 'International',
 'Romantic',
 'Children & Family',
 'Comedies',
 'Romantic',
 'Action & Adventure',
 'Sci-Fi & Fantasy',
 'British',
 'Crime',
 'International',
 'Crime',
 'Dramas',
 'Documentaries',
 'Documentaries',
 'Documentaries',
 'Action & Adventure',
 'Dramas',
 'Sci-Fi & Fantasy',
 'Docuseries',
 'Science & Nature',
 'Children & Family',
 'Comedies',
 'International',
 'Korean',
 'Dramas',
 'Dramas',
 'International',
 'Documentaries',
 'Stand-Up Comedy',
 'Stand-Up Comedy & Talk',
 'Comedies',
 'Docuseries',
 'Kids',
 'Science & Nature',
 'Dramas',
 'International',
 'Horror',
 'Stand-Up Comedy',
 'Dramas',
 'Romantic',
 'Documentaries',
 'International',
 'Documentaries',
 'International',
 'International',
 'Reality',
 'Thrillers',
 'Comedies',
 'Independent',
 'Thrillers',
 'Comedies',
 'Cult',
 'Dramas',
 'Action & Adventure',
 'Documentaries',
 'International',
 'Action & Adventure',
 'Documentaries',
 'Children & Family',
 'Comedies',
 'Romantic',
 'Kids',
 'Dramas',
 'International',
 'Comedies',
 'Dramas',
 'Dramas',
 'Thrillers',
 'Dramas',
 'International',
 'Thrillers',
 'Dramas',
 'Independent',
 'International',
 'Children & Family',
 'Comedies',
 'Comedies',
 'International',
 'Romantic',
 'Action & Adventure',
 'Dramas',
 'Dramas',
 'Independent',
 'British',
 'Crime',
 'Docuseries',
 'Children & Family',
 'Classic',
 'Comedies',
 'Cult',
 'Comedies',
 'Cult',
 'Dramas',
 'International',
 'Romantic',
 'Dramas',
 'International',
 'Thrillers',
 'Dramas',
 'Romantic',
 'Sci-Fi & Fantasy',
 'Horror',
 'Independent',
 'Thrillers',
 'Action & Adventure',
 'Romantic',
 'Action & Adventure',
 'Kids',
 'Kids',
 'Comedies',
 'International',
 'Action & Adventure',
 'Comedies',
 'International',
 'Action & Adventure',
 'Comedies',
 'Crime',
 'International',
 'Dramas',
 'Documentaries',
 'International',
 'Sports',
 'Independent',
 'Thrillers',
 'Dramas',
 'International',
 'Thrillers',
 'Horror',
 'Thrillers',
 'Dramas',
 'Independent',
 'International',
 'Children & Family',
 'Comedies',
 'Dramas',
 'Dramas',
 'Independent',
 'International',
 'Dramas',
 'Independent',
 'International',
 'Comedies',
 'Cult',
 'Horror',
 'Dramas',
 'Independent',
 'International',
 'Comedies',
 'Horror',
 'International',
 'International',
 'Comedies',
 'Dramas',
 'Comedies',
 'Independent',
 'International',
 'Dramas',
 'International',
 'Sports',
 'Horror',
 'Horror',
 'Independent',
 'Thrillers',
 'Dramas',
 'Thrillers',
 'Documentaries',
 'International',
 'Sports',
 'Horror',
 'International',
 'Thrillers',
 'Action & Adventure',
 'International',
 'Dramas',
 'Children & Family',
 'International',
 'Comedies',
 'Dramas',
 'International',
 'Dramas',
 'Horror',
 'Action & Adventure',
 'International',
 'Documentaries',
 'International',
 'International',
 'Dramas',
 'Horror',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Dramas',
 'Independent',
 'Comedies',
 'International',
 'Romantic',
 'Documentaries',
 'International',
 'Sports',
 'Dramas',
 'International',
 'Music & Musicals',
 'International',
 'Dramas',
 'Anime Series',
 'International',
 'Docuseries',
 'Reality',
 'Documentaries',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'International',
 'Comedies',
 'Horror',
 'Dramas',
 'International',
 'Sports',
 'International',
 'Comedies',
 'Dramas',
 'Comedies',
 'International',
 'Music & Musicals',
 'Action & Adventure',
 'Dramas',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Anime Features',
 'International',
 'Action & Adventure',
 'Comedies',
 'International',
 'Documentaries',
 'Sports',
 'Documentaries',
 'International',
 'Classic',
 'Comedies',
 'Independent',
 'Dramas',
 'International',
 'Romantic',
 'Comedies',
 'Dramas',
 'International',
 'Thrillers',
 'Children & Family',
 'Comedies',
 'Documentaries',
 'International',
 'Dramas',
 'International',
 'Kids',
 'Documentaries',
 'International',
 'Documentaries',
 'LGBTQ',
 'Music & Musicals',
 'Dramas',
 'International',
 'Comedies',
 'International',
 'British',
 'Docuseries',
 'British',
 'Horror',
 'Thrillers',
 'Dramas',
 'Independent',
 'International',
 'International',
 'Romantic',
 'Comedies',
 'Children & Family',
 'Comedies',
 'Children & Family',
 'Dramas',
 'Sports',
 'International',
 'Comedies',
 'Dramas',
 'Documentaries',
 'International',
 'Romantic',
 'Comedies',
 'Comedies',
 'International',
 'Documentaries',
 'International',
 'Comedies',
 'Dramas',
 'International',
 'Romantic',
 'Dramas',
 'International',
 'Romantic',
 'Comedies',
 'International',
 'Romantic',
 'Comedies',
 'Comedies',
 'International',
 'Romantic',
 'British',
 'Crime',
 'Docuseries',
 'Stand-Up Comedy',
 'Dramas',
 'Romantic',
 'Dramas',
 'Thrillers',
 'Reality',
 'Children & Family',
 'Dramas',
 'Sports',
 'Stand-Up Comedy',
 'Dramas',
 'International',
 'Romantic',
 'Documentaries',
 'International',
 'Stand-Up Comedy',
 'Children & Family',
 'Comedies',
 'Action & Adventure',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Documentaries',
 'Music & Musicals',
 'Documentaries',
 'Stand-Up Comedy',
 'Kids',
 'Action & Adventure',
 'Dramas',
 'International',
 'Dramas',
 'International',
 'Romantic',
 'Comedies',
 'Dramas',
 'International',
 'Horror',
 'Anime Series',
 'International',
 'Action & Adventure',
 'Comedies',
 'International',
 'Documentaries',
 'LGBTQ',
 'Kids',
 'International',
 'Korean',
 'Action & Adventure',
 'Dramas',
 'Independent',
 'International',
 'Dramas',
 'International',
 'Sports',
 'Reality',
 'Dramas',
 'International',
 'Docuseries',
 'Anime Series',
 'International',
 'Horror',
 'Thrillers',
 'Comedies',
 'Dramas',
 'Independent',
 'Children & Family',
 'International',
 'Korean',
 'Comedies',
 'Documentaries',
 'Comedies',
 'International',
 'Romantic',
 'Horror',
 'Thrillers',
 'Children & Family',
 'Comedies',
 'Kids',
 'Action & Adventure',
 'Dramas',
 'Children & Family',
 'Dramas',
 'Thrillers',
 'Dramas',
 'International',
 'Horror',
 'Thrillers',
 'Anime Series',
 'International',
 'Romantic',
 'Children & Family',
 'Comedies',
 'Stand-Up Comedy',
 'Crime',
 'International',
 'Action & Adventure',
 'Crime',
 'International',
 'Dramas',
 'Dramas',
 'International',
 'Thrillers',
 'Dramas',
 'International',
 'Stand-Up Comedy',
 ...]

### transfrom into dataframe

In [597]:
df_genre = pd.DataFrame(data = list_genre)

df_genre

                       0
0      Children & Family
1               Comedies
2        Stand-Up Comedy
...                  ...
15079
15080
15081

[15082 rows x 1 columns]

### rename the col

In [598]:
df_genre = df_genre.rename(columns = {0: 'genre'})

df_genre

                   genre
0      Children & Family
1               Comedies
2        Stand-Up Comedy
...                  ...
15079
15080
15081

[15082 rows x 1 columns]

### remove empty rows

In [599]:
filt_empty = (df_genre['genre'] == '')

filt_empty

0        False
1        False
2        False
         ...
15079     True
15080     True
15081     True
Name: genre, Length: 15082, dtype: bool

In [600]:
df_genre[filt_empty]

      genre
13663
13664
13665
...     ...
15079
15080
15081

[1419 rows x 1 columns]

In [601]:
df_genre = df_genre.iloc[:13663, :]

df_genre

                   genre
0      Children & Family
1               Comedies
2        Stand-Up Comedy
...                  ...
13660             Dramas
13661     Classic & Cult
13662           Comedies

[13663 rows x 1 columns]

### add to another col

In [602]:
df_nfx = pd.concat(objs = [df_nfx, df_genre], axis = 'columns')

df_nfx

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description,country,genre
0,81145628.00,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...",9-Sep-19,2019.00,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,United States,Children & Family
1,80117401.00,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,9-Sep-16,2016.00,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,India,Comedies
2,70234439.00,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",8-Sep-18,2013.00,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",South Korea,Stand-Up Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dramas
13661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Classic & Cult
13662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comedies

# Export To File

## Export dataset to a CSV file

In [603]:
df_nfx.to_csv('netflix_titles(done).csv', index = False)

## Confirm the file

In [604]:
df_nfx_done = pd.read_csv('netflix_titles(done).csv', na_values = '')

df_nfx_done

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description,country,genre
0,81145628.00,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...",9-Sep-19,2019.00,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,United States,Children & Family
1,80117401.00,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,9-Sep-16,2016.00,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,India,Comedies
2,70234439.00,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",8-Sep-18,2013.00,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",South Korea,Stand-Up Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dramas
13661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Classic & Cult
13662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comedies